<div class="menu-item has-sub">
    <a href="/" class="menu-link">
        <div class="menu-icon">
            <i class="fa fa-align-left"></i>
        </div>
        <div class="menu-text">Administración</div>
        <div class="menu-caret"></div>
    </a>
    <div class="menu-submenu">
        <div class="menu-item has-sub">
            <div class="menu-item"><a href="usuarios" class="menu-link"><div class="menu-text">Usuarios</div></a></div>
            <div class="menu-item"><a href="productos" class="menu-link"><div class="menu-text">Productos</div></a></div>
            <div class="menu-item"><a href="pedidos" class="menu-link"><div class="menu-text">Pedidos</div></a></div>
        </div>
    </div>
</div>

