<h3 class="card-title">No esta Autorizado Para Ver Este Contenido</h3>
<hr />
<p class="card-text">Este contenido esta habilitado solo para personal autorizado, si cuenta con un usuario y una contraseña, acceda con esta informacion, de lo contrario comuniquese con el departamento de tecnologia.</p>
<a href="authentication/login" class="btn btn-success">Ingresar a la Plataforma</a>
<a href="authentication/register" class="btn btn-danger">Registrarse como Empleado</a>

